* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	
	margin: 0 auto;
	font-size: 16px;
	
}

nav  {
	background-color: #2C3E50;
	overflow: hidden;
	
	
}

nav h1{
	text-decoration: none;
	list-style: none;
	color:white;
	font-size: 20px;
	position: relative;
	top: 10px;
	bottom: 40px;
	left: 40px;
}

li  {
	color: white;
	text-decoration: none;
	list-style: none;
	display:block;
	float: left;
}

a{
	text-decoration: none;
	display: inline-block;
	margin-right: 20px;
	color: white;
	position: relative;
	top: -30px;
	bottom: 70px;
	right: 0;
	left: 900px;
}
/* <!--SECTION STAR BOOSTRAP IMAGEN-->*/

.principal {
	background-color: #18BC9C;
	height: 700px;
}


 div img{ /* imagen*/
	position: relative;
	top: 80px;
	left: 500px;
}

div h4 {
	color: white;
	font-size: 80px;
	position: relative;
	top: 50px;
	left: 300px;

}

.principal div p{
	color: white;
	font-size: 30px;
	position: relative;
	top: 50px;
	left: 300px;


}
